node_modules
dist
src/**/scripts
src/**/resources
src/chromium/_locales
src/chromium/assets
src/chromium/about.html
src/chromium/base.html
src/chromium/history.html
src/chromium/search.html
src/chromium/settings.html
src/firefox/_locales
src/firefox/assets
src/firefox/about.html
src/firefox/base.html
src/firefox/history.html
src/firefox/search.html
src/firefox/settings.html

