/*  
START OF SLIDER - Yoinked from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch, modified a bit
*/
.switch {
  position: relative;
  display: inline-block;
  top: 3px; /* Hard coded offset */
  width: 30px;
  height: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF5555;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00AA00;
}

input:checked + .slider::before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}
/*  
END OF SLIDER
*/

/* Checkbox Input Text */
.checkboxText {
    font-size: 12px;
}

/* Shows "Options saved at x" */
#saveConfirmation {
    position: relative;
    top: 5px;
}

/* Turns the cursor to a pointer */
input[type=checkbox] {
    cursor: pointer;
}

/* Main Page Switcher */
#main {
    font-size: 30px;
    cursor: pointer;
    color: #c3c3c3;
}

#main:hover {
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}

/* Options Page Switcher */
#options {
    font-size: 25px;
    color: #ffffff;
}

/* Information Page Switcher */
#information {
    font-size: 30px;
    cursor: pointer;
    color: #c3c3c3;
}

#information:hover {
    color: #ffffff;
}