input[type=submit] {
    padding: 5px 5px;
    width: 293px;
    border: solid;
    border-width: 1px;
    display: block;
    margin: 10px auto 0px;
    text-align: center;
    cursor: pointer;
    border-color: #ffffff;
    background-color: #2b2b2b;
    color: #ffffff;
}

/* Submit Button Clicked */
input[type=submit]:active {
    background-image: url("images/search_icon1024_2.png");
    background-color: #ffffff;
    color: #000000
}

/* Search Box */
input[type=text] {
    outline: none;
    display:-moz-inline-stack;
    margin: 10px auto 0px;
    margin-top: 10px;
    border: solid;
    border-width: 1px;
    padding: 5px 5px;
    width: 141px;
    transition: 0.5s;
    background-color: #2b2b2b;
    color: #ffffff;
}

/* Typing In Search Box */
input[type=text]:focus {
    width: 282px;
}

/* Option Hyperlink */
#optionsHyperlink {
    font-size: 12px;
    color: #ffffff;
}

/* NameMC Shortcut Hyperlink */
a:link, a:visited {
    color: white;
}

/* Main Body */
body {
    position: relative;
    font-size: 15px;
    min-width: 325px;
    background-color: #2b2b2b;
    color: white;
}

/* Output Box */
#dataReturn {
    transition: height 0.5s;
}

/* HyGuard Shield */
.header img {
    float: left;
    width: 25px;
    height: 25px;
}

/* HyGuard Header - Text & Image */
.header {
    margin-top: -10px;
    margin-bottom: -10px;
}

/* width */ /* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Handle */ /* Scrollbar */
::-webkit-scrollbar-thumb {
    background: #AAAAAA; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #717171; 
}