/* Button Design */ /* Check Player & Options */
.actionButton {
    padding: 5px 5px;
    width: 308px;
    border: solid;
    border-width: 1px;
    display: block;
    margin: 10px auto 0px;
    text-align: center;
    cursor: pointer;
    border-color: #ffffff;
    background-color: #2b2b2b;
    color: #ffffff;
}

/* Submit Button Clicked */ /* Check Player & Options */
.actionButton:active {
    background-image: url("images/search_icon1024_1.png");
    background-color: #ffffff;
    color: #000000
}

/* Player Input Box */
#player {
    outline: none;
    display:-moz-inline-stack;
    margin: 10px auto 0px;
    margin-top: 10px;
    border: solid;
    border-width: 1px;
    padding: 5px 5px;
    width: 156px;
    transition: 0.5s;
    background-color: #2b2b2b;
    color: #ffffff;
}

/* Typing In Search Box */
#player:focus {
    width: 297px;
}

/* NameMC Shortcut Hyperlink */
a:link, a:visited {
    color: white;
}

/* Main Page Switcher */
#main {
    background-image: url("images/player64_W.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Options Page Switcher */
#options {
    background-image: url("images/options64_GR.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#options:hover {
    background-image: url("images/options64_W.png");
}

#exit {
    background-image: url("images/exit64_GR.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#exit:hover {
    background-image: url("images/exit64_W.png");
}