/* Button Design */ /* Check Player & Options */
.actionButton {
    display: block;
    box-sizing: border-box;
    margin: 10px auto 0px;
    border: solid;
    border-width: 1px;
    padding: 5px 5px;
    width: 99%;
    cursor: pointer;
    border-color: #ffffff;
    background-color: #2b2b2b;
    color: #ffffff;
}

/* Submit Button Clicked */ /* Check Player & Options */
.actionButton:active {
    background-color: #ffffff;
    color: #000000
}

/* Player Input Box */
#player {
    outline: none;
    display: block;
    box-sizing: border-box;
    margin: 10px auto; /* 5px because the .content box already has a 5px margin */
    border: solid;
    border-width: 1px;
    padding: 5px 5px;
    width: 99%;
    background-color: #2b2b2b;
    color: #ffffff;
}

.output {
    margin-bottom: -10px;
    overflow: auto;
    height: 500px;
}

/* NameMC Shortcut Hyperlink */
a:link, a:visited {
    color: white;
}

/* Main Page Switcher */
#main {
    background-image: url("images/player64_W.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Options Page Switcher */
#options {
    background-image: url("images/options64_GR.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#options:hover {
    background-image: url("images/options64_W.png");
}

#exit {
    background-image: url("images/exit64_GR.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#exit:hover {
    background-image: url("images/exit64_W.png");
}