/* Main Body */
body {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 15px;
    width: 400px;
    height: 600px;
    background-color: #2b2b2b;
    color: white;
}

/* Fieldset For Border Color */
fieldset {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}

/* Options/Main Page Switcher */
.pageButtons {
    width: 40px;
    height: 40px;
    display: block;
    border: none;
    margin: 10px auto;
    background-color: #404040;
    color: #ffffff;
}

/* The navigation bar */
.navigation {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 45px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #404040; /* Black */
    overflow: hidden; /* Disable horizontal scroll */
}

/* Main fieldset per page, removes the sidebar width */
.container {
    margin-left: 45px;
    width: 355px;
}

/* Expands the fieldsets to their max size and allows for overflow */
.fieldsetContent {
    height: 560px;
    overflow-y: auto; /* This may come back to bite me. It stops a child margin from expanding the parent */
}

/* Text input lbocks */
.inlineInput {
    outline: none;
    display: block;
    box-sizing: border-box;
    margin: 5px auto 0px;
    border: solid;
    border-width: 1px;
    padding: 5px 5px;
    width: 100%;
    background-color: #2b2b2b;
    color: #ffffff;
}

/* Button Design */ /* Check Player Button */
.actionButton {
    display: inline;
    box-sizing: border-box;
    margin: 5px auto 0px;
    border: solid;
    border-width: 1px;
    padding: 5px 5px;
    cursor: pointer;
    border-color: #ffffff;
    background-color: #2b2b2b;
    color: #ffffff;
}

/* Submit Button Clicked */ /* Check Player Button */
.actionButton:active {
    background-color: #ffffff;
    color: #000000
}

.inlineInput:not(:placeholder-shown):invalid {
    border-color: #FF5555;
}

/* HyGuard Shield */
#icon {
    background-image: url("images/shield128.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Width */ /* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}
 
/* Handle */ /* Scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #AAAAAA;
    border-left: 4px solid transparent;
    background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #717171;
    border-left: 4px solid transparent;
    background-clip: content-box;
}