/* Main Body */
body {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 15px;
    width: 425px;
    height: 600px;
    background-color: #2b2b2b;
    color: white;
}

/* Options/Main Page Switcher */
.pageButtons {
    width: 40px;
    height: 40px;
    display: flex;
    border: none;
    margin: 10px auto;
    background-color: #404040;
    color: #ffffff;
}

/* The navigation bar */
.navigation {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 45px; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    position: fixed;
    background-color: #404040; /* Black */
    overflow: hidden; /* Disable horizontal scroll */
}

/* Contains the actual content and the navigation menu */
.container {
    display: flex;
    flex-direction: row-reverse;
    left: 0;
    height: 100%;
}

/* Contains the content in a flexbox*/
.flexContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 380px;
    height: 600px;
    height: max-content;
    overflow-y: auto; /* This may come back to bite me. It stops a child margin from expanding the parent */
}

/* Text Input */
.inlineInput {
    outline: none;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 5px auto 0px;
    border: solid;
    border-width: 1px;
    padding: 5px 5px;
    width: 95%;
    transition: 0.1s;
    background-color: #2b2b2b;
    color: #ffffff;
}

/* Button Design */ /* Check Player Button */
.actionButton {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    margin: 5px 2px 0px;
    border: solid;
    border-width: 1px;
    padding: 5px 5px;
    cursor: pointer;
    transition: 0.1s;
    border-color: #ffffff;
    background-color: #2b2b2b;
    color: #ffffff;
}

/* Submit Button Clicked */ /* Check Player Button */
.actionButton:active {
    background-color: #ffffff;
    color: #000000
}

/* Hyperlink Color */
a:link, a:visited {
    color: white;
}

/* HyGuard Shield */
#icon {
    background-image: url("images/iris128.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Width */ /* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}
 
/* Handle */ /* Scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #AAAAAA;
    border-left: 4px solid transparent;
    background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #717171;
    border-left: 4px solid transparent;
    background-clip: content-box;
}