/*  
Start of slider - Yoinked from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch, modified a bit
*/
.switch {
  position: relative;
  display: inline-block;
  top: 3px; /* Hard coded offset */
  width: 30px;
  height: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF5555;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

input:checked + .slider {
  background-color: #00AA00;
}

input:checked + .slider::before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}
/*  
End of slider
*/

/* 
Start of Custom Tool Tips - Yoinked from https://www.w3schools.com/css/css_tooltip.asp
*/
.toolTip {
  position: relative;
  display: inline;
}

.toolTip .toolTipText {
  visibility: hidden;
  width: 175px;
  background-color: #2b2b2b;
  color: #ffffff;
  text-align: center;
  padding: 5px 5px;
  border: solid;
  border-color: #ffffff;
  border-width: 1px;
 
/* Position the tooltip text - see examples below! */
  position: absolute;
  left: 0px;
  top: 22.5px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.toolTip:hover .toolTipText {
  visibility: visible;
}
/* 
End of Custom Tool Tips
*/

/* Checkbox Input Text */
.checkboxText {
    font-size: 14px;
    display: inline;
}

#testKey {
  width:  361px;
}

/* Shows "Invalid API Key..." */
#apiKeyOutput {
    position: relative;
    top: 5px;
    bottom: 5px;
}

#errorOutput {
  position: relative;
  top: 5px;
}

/* Turns the cursor to a pointer */
input[type=checkbox] {
    cursor: pointer;
}

/* Main Page Switcher */
#player {
    font-size: 30px;
    cursor: pointer;
    color: #c3c3c3;
}

#player:hover {
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}

/* Options Page Switcher */
#settings {
    font-size: 25px;
    cursor: default;
    color: #ffffff;
}

/* Search History Switcher */
#history {
  font-size: 40px;
  cursor: pointer;
  color: #c3c3c3;
}

#history:hover {
  color: #ffffff;
}

/* Information Page Switcher */
#information {
    font-size: 30px;
    cursor: pointer;
    color: #c3c3c3;
}

#information:hover {
    color: #ffffff;
}

hr { 
    width: 100%;
    height: 0;
    margin: 0;
    border: 0;
}