.text {
    font-size: 14px;
    padding: 5px;
}

/* Main Page Switcher */
#player {
    font-size: 30px;
    cursor: pointer;
    color: #c3c3c3;
}

#player:hover {
    color: #ffffff;
}

/* Options Page Switcher */
#settings {
    font-size: 25px;
    cursor: pointer;
    color: #c3c3c3;
}

#settings:hover {
    color: #ffffff;
}

/* Search History Switcher */
#history {
    font-size: 40px;
    cursor: default;
    color: #ffffff;
}

/* Information Page Switcher */
#information {
    font-size: 30px;
    cursor: pointer;
    color: #c3c3c3;
}

#information:hover {
    color: #ffffff;
}