.text {
    font-size: 14px;
}

/* Main Page Switcher */
#player {
    font-size: 30px;
    cursor: pointer;
    color: #c3c3c3;
}

#player:hover {
    color: #ffffff;
}

/* Options Page Switcher */
#options {
    font-size: 25px;
    cursor: pointer;
    color: #c3c3c3;
}

#options:hover {
    color: #ffffff;
}

/* Search History Switcher */
#history {
    font-size: 40px;
    color: #ffffff;
}

/* Information Page Switcher */
#information {
    font-size: 30px;
    cursor: pointer;
    color: #c3c3c3;
}

#information:hover {
    color: #ffffff;
}