/* Spacing to keep the buttons on one line */
#submitButton {
    width: 266px;
}

#clearButton {
    width: 89px;
}

.inlineInput:not(:placeholder-shown):invalid + #submitButton {
    border-color: #FF5555;
    cursor: not-allowed;
}

.inlineInput:placeholder-shown:invalid + #submitButton {
    cursor: not-allowed;
}

/* Wouldn't work without this */
#submitPlayer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

/* Scroll Overflow Element */
.scrollOverflow {
    display: flex;
    margin: 5px 0px 0px;
    height: 525px;
    width: 360px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

/* Main Page Switcher */
#player {
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}

/* Options Page Switcher */
#options {
    font-size: 25px;
    cursor: pointer;
    color: #c3c3c3;
}

#options:hover {
    color: #ffffff;
}

/* Search History Switcher */
#history {
    font-size: 40px;
    cursor: pointer;
    color: #c3c3c3;
}

#history:hover {
    color: #ffffff;
}

/* Information Page Switcher */
#information {
    font-size: 30px;
    cursor: pointer;
    color: #c3c3c3;
}

#information:hover {
    color: #ffffff;
}