/* Text size */
.text {
    font-size: 15px;
    padding: 10px;
}

/* Notes Fieldset */
.notes {
    margin-bottom: 10px;

}

li {
    margin-top: 5px;
    margin-left: 20px;
}

hr { width: 95% }

/* Main Page Switcher */
#player {
    font-size: 30px;
    cursor: pointer;
    color: #c3c3c3;
}

#player:hover {
    color: #ffffff;
}

/* Options Page Switcher */
#options {
    font-size: 25px;
    cursor: pointer;
    color: #c3c3c3;
}

#options:hover {
    color: #ffffff;
}

/* Search History Switcher */
#history {
    font-size: 40px;
    cursor: pointer;
    color: #c3c3c3;
}

#history:hover {
    color: #ffffff;
}

/* Information Page Switcher */
#information {
    font-size: 30px;
    color: #ffffff;
}